/* */

div.post .binfo, div.post .binfo .bwrap {
	height: auto;
	min-height: 23px;
}

div.bwrap div.quote {
	line-height: 1.5;
	margin-top: -6px;
	font-size: 11px;
	font-style: normal;
}

body.MVN-oscuro div.bwrap {
	color: rgb(238, 238, 238) !important;
}