/* Posts */

div.post .binfo, div.post .binfo .bwrap {
	height: auto;
	min-height: 23px;
}

div.bwrap div.quote {
	line-height: 1.5;
	margin-top: -6px;
	font-size: 11px;
	font-style: normal;
}

body.MVN-oscuro div.bwrap {
	color: rgb(238, 238, 238) !important;
}

#scrollpages a.mvn-page-active, #scrollpages em.mvn-page-active{
  color: #ef5000;
  background-position: top left;
  cursor: pointer;
}

#scrollpages a.mvn-page-not-active, #scrollpages em.mvn-page-not-active{
  color: #d7e1e7;
  background-position: bottom left;
  cursor: pointer;
}


/*** BOOKMARKS ***/
#content #foros-fav-float {
  top: 300px;
  display: none-;
}

#mvn-forum-bookmarks{
  position: absolute;
  top: 200px;
  margin-left: 1005px;
  opacity: 0.2;
  margin-top: 10px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

#mvn-forum-bookmarks:hover{
  opacity: 1;
}

#mvn-forum-bookmarks ul li {
  margin: 0 0 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#mvn-forum-bookmarks ul li a {
  background: #ccc;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #EEEEEE;
  vertical-align: middle;
  padding: 3px 4px;
  display: inline-block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#mvn-forum-bookmarks ul li a:hover {
  background: #999;
}

.mvn-bookmarks-fixed #mvn-forum-bookmarks{
  position: fixed;
  top:0;
}

/*** USER TOOLS ***/

.mvn-post .post_controls .buttons{ display: none; }
.mvn-post:hover .post_controls .buttons{ display: block; }

.mvn-ajax .buttons .propuesta, .mvn-ajax .buttons .report { opacity: 0.2; }
.mvn-ajax .buttons .propuesta:hover, .mvn-ajax .buttons .report:hover { opacity: 0.2; }

dd.online{ display: none; }

.mvn-online{
  display: inline-block;
  background-color: rgba(0, 128, 0, 0.74);
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-radius: 10px;
}

.MVN-oscuro .mvn-online{
  border: 1px solid white;
}

.mark .mvn-online{
  width: 6px;
  height: 6px;
  margin-bottom: 1px;
}

.usertools .online-pos{
  display: none;
}

.usertools .blacklist-pos{
  float: left;
}

.mvn-hide-nopost .nopost{
  display: none;
}

.mvn-hide-nopost .nopost.mvn-showpost{
  display: block !important;
}


/*** Bottom tools ***/

#mvn-bottom-tools{
  margin-top: 15px;
  border: 1px solid #C7C9C3;
  border-top: 1px solid #C7C9C3;
  border-bottom: 1px solid #BABCB6;
  background: linear-gradient(to top, #E8EBE3, #D6D8D2);
  background: -webkit-gradient(linear, left top, left bottom, from(#D6D8D2), to(#E8EBE3));
}

#mvn-bottom-tools li:last-child{ margin-right: 5px; }
#mvn-bottom-tools a{ color: #777; background-image: none; padding-left: 0px; padding: 0 2px; }
#mvn-bottom-tools a:hover{ color: #444; }
#mvn-bottom-tools strong.bubble { left: -17px; }

.MVN-oscuro #mvn-bottom-tools{
  border-color: #0e1113;
  border-top: 1px solid #555f66;
  border-bottom: 1px solid #0e1113;
  -moz-box-shadow: inset -1px 0 1px -1px #ffffff,inset 1px 0 1px -1px #ffffff;
  background-image: -moz-linear-gradient(top, #010101, #1c252b);
  background-image: -o-linear-gradient(top, #010101, #1c252b);
  background-image: linear-gradient(to bottom, #010101, #1c252b);
}

.MVN-oscuro #mvn-bottom-tools a{ color: #EF5000; }
.MVN-oscuro #mvn-bottom-tools a:hover{ color: white; }

ul.bar.ut-linksfooter{ display: none; }

/*** ORDER BY MANITA ***/

em.mvn-toggle-infiniteScroll {
  margin-top: 20px;
  cursor: pointer;
}

em.mvn-infinite-disabled {
    opacity: 0.2;
}

em.mvn-infinite-disabled i {
    color: #666;
}

em.mvn-orderby-manita {
    margin-top: 5px;
    cursor: pointer;
    /* padding-top: 2px; */
}

.mvn-orderby-manita img {
    width: 15px;
    height: auto;
    margin-top: 9px;
}


/*** EMBED ***/

.mvn-tooltip, .mvn-embed-highlight {
  display: inline;
  position: relative;
  z-index: 999;

  cursor: pointer;
  display: inline-block;

  background-color: rgba(239, 188, 45, 0.13);
  border-bottom: 1px solid rgba(239, 80, 0, 0.64);

  border-radius: 4px;
  padding: 2px 10px;
  padding-right: 1px;
    padding-bottom: 0px;
    padding-left: 7px;
    
  margin: 1px 0;
    margin-right: 1px;

  font-size: inherit;
  font-weight: 400;

}

.mvn-embed-removed{
  background-color: rgba(239, 45, 45, 0.13);
  border-bottom: 1px solid rgba(239, 80, 0, 0.64);
  border-radius: 4px;
  padding: 2px 10px;
  padding-right: 1px;
  padding-bottom: 0px;
  padding-left: 7px;
  margin: 1px 0;
  margin-right: 1px;
}

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mvn-tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}

/* Tooltip */

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: auto;
  left: 50%;
    left: auto;
    right: 0;

  margin: 0 0 20px -180px;
    margin: 0 0 5px 0px;

  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  background-color: rgba(42, 48, 53, 0.75);
  border-radius: 5px;
  overflow: hidden;  
}

.tooltip-effect-1 .tooltip-content {
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.mvn-tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
  transform: translate3d(0,0,0) rotate3d(0,0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
}

/* Tooltip content*/

div.post.mvn-overflow-visible:hover, div.post.mvn-overflow-visible:hover .msg .body .cuerpo {
  overflow: visible;
}

.cuerpo.div.embedded{
  padding-top: 10px;
  margin: 0;
}

.tooltip-content img, .tooltip-content video {
  position: relative;
  display: block;
  float: left;

  width: auto;
  height: auto;
  margin: 0;
  max-width: 400px;
  max-height: 350px;  
}

iframe.mvn-embed-vine{
  width: 480px;
  height: 480px;
}

video.mvn-embed {
  max-height: 500px;
  max-width: 100%;
}

i.fa.mvn-ico-embed {
  margin-left: 5px;
  border-radius: 4px;
  padding: 3px;
  color: rgba(0, 0, 0, 0.73);
  font-size: 13px;
  cursor: pointer;
}

.MVN-oscuro i.fa.mvn-ico-embed {
    color: rgba(255, 255, 255, 0.48);
}

.mfp-content{
  text-align: center !important;
}

.mfp-content video{
  max-width: 90vw;
}

.mvn-magnific-square .mfp-content {
  max-width: 900px !important;
}

.mvn-magnific-iframe .mfp-content {
  max-width: 1150px !important;
}


/*** Extras ***/
div.post.mvn-mark{
  border: 1px solid #f0b89c;
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/marcapaginas2.png") !important;
  background-repeat: no-repeat !important;
  background-position: 125px top !important;
  background-size: 35px;
}

div.post.mvn-mark .info { padding-left: 20px; }
div.post.mvn-mark .autor{ width: 118px; }

body .mvn-pagination-clone{
  margin-top: 4px;
  margin-left: -15px;
}

body.MVN-oscuro .mvn-pagination-clone{
  margin-left: 0;
}

/*** Loading ***/
#foros #main.mvn-loading-all {
  min-height: 450px !important;
  height: 450px !important;
  overflow: hidden;
}

.indicator{
  display: none;
  position: absolute;
  z-index: 999;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 2px;
  cursor: progress;
}

.indicator .spinner{
  background-image: url("chrome-extension://__MSG_@@extension_id__/assets/spinner.gif");
  /*background-image: url("style/img/loader.gif");*/
  position: absolute;
  top: 50%;
  left: 50%;
  
  left: 40%;
  margin-top: -9px;
  margin-left: -9px;
  width: 18px;
  height: 18px;

  padding-left: 25px;
  line-height: 20px;
  left: 35%;

  width: auto;
  background-repeat: no-repeat;
}

.indicator .status-page{
  position: absolute;
  top: 50%;
  /* margin-top: -9px; */
  margin-left: -9px;
  height: 18px;
  padding-left: 35px;
  line-height: 40px;
  left: 35%;
  width: auto;
  font-weight: bold;
}

#main.mvn-loading-all .indicator{
  display: block;
}

.MVN-oscuro .indicator{
  background-color: white;
  color: #3A2D2D;
}
    

/*** Settings ***/

#mvn-settings-mfp {
	position: relative;
	background: white;
	padding: 0;
	width: 600px;
 	margin: 20px auto;
 	margin-top: -33vh;
}

#mvn-settings-mfp h2{
  padding: 10px 20px;
  background-color: rgba(239, 239, 239, 0.63);
  font-size: 17px;
  font-weight: 100;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0;
}

#mvn-settings-mfp .mfp-close{
	border-left: 1px solid #CCC;
}


/*** MVN-manitas ***/
.mvn-manitas .mfp-close {
  width: 31px;
  height: 31px;
  background-color: #FFA000;
  line-height: 31px;
}

.mvn-manitas #thumbs {
  width: auto;
}

#thumbs ul li{ 
  position: relative;
  overflow: visible; 
}

#thumbs a.tooltip:hover:after{
  border: 1px solid #fc0;
  padding: 3px 6px;
  background: #efefef;
  content: attr(title);
  position: absolute;
  right: -50%;
  top: 5px;
  color: black;
  z-index: 9999999;
  font-weight: bold;
}

#modal-lang .row{
	height: calc(100% - 44px);
	margin: 0;
}

#modal-lang textarea{
	border: 0;
	height: calc(100% - 49px);
}

#modal-lang .col-md-8, #modal-lang .col-md-12, #modal-lang .amb-idiomes, #modal-lang .idioma{
	height: 100%;
}

#modal-lang .detalles-archivo{
	background-color: #EFEFEF;
  box-shadow: inset 0 4px 4px -4px rgba(0, 0, 0, 0.1);
  border-bottom: 0;
  border-left: 1px solid #DDD;
  background: #F3F3F3;
  height: 100%;
}

#modal-lang .detalles-archivo .detalles{
	padding: 10px 0px;
  line-height: 1.6;
  font-weight: 500;
}

#modal-lang .detalles-archivo .detalles span{
  font-weight: 300;
}

#modal-lang .detalles-archivo .borrar{
  color: #A32340;
}



#modal-lang .bottom-save{
	position: absolute;
	bottom: 0;
	width: 100%;

	padding: 10px 20px;
	background-color: rgba(239, 239, 239, 0.63);
	font-size: 17px;
	font-weight: 100;
	border-bottom: 1px solid #DDD;
	margin-bottom: 0;
}

/*** USERTOOLS FIX ***/

body.has-ut .ut_tag{
	margin-top: 24px !important;
}

body.has-ut div.autor {
	padding: 10px 10px 20px;
}


/****** MAGNIFIC POPUP *************/

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }


/***** CSS options for popup ***/

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}